body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
}
.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 61px);
}
.swiper {
  width: 320px;
  height: 320px;
  box-shadow: rgba(243, 240, 240, 0.18) 0px 2px 4px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #23d332;
  border-radius: 5px;
}

.swiper-slide img {
  display: block;
  width: 90%;
}
